[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
pillow = "~=8.2.0"
whitenoise = "~=5.2.0"
psycopg2 = "~=2.8.6"
django-crispy-forms = "*"

[dev-packages]
coverage = "~=5.5"
pylint-django = "==2.4.3"

[requires]
python_version = "3.9"
