{% extends 'search/base.html' %}
{% load static %}

{% block content %}

  <section class="about-heading my-2 my-lg-5">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" alt="..." src="{% static 'accounts/img/del-heading.jpg' %}"/>
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Confirmation</span>
              </h2>
              <p>Vous allez effacer la totalité des informations associées à votre compte</p>
              <form method="post">{% csrf_token %}
                <p>Voulez-vous fermer votre compte?</p>
                <input  class="btn btn-danger" type="submit" value="Fermer le compte">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}