{% extends 'search/base.html' %}
{% load static %}

{% block content %}
  <link href="{% static 'accounts/css/styles.css' %}" rel="stylesheet">

  <section class="page-section cta" id="update">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <form class="col-xl-8 mx-auto " method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-inline form-group">
                  <label for='{{ field.label }}' class="col-form-label">
                    {{ field.label_tag }}</label>
                  {{ field }}
                  {% if field.help_text %}
                    <small class="form-text" style="color: grey"
                    >{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p class="form-text" style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-outline-primary">Mettre à jour</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}