{% extends 'recipes/base.html' %}

{% block content %}

  <section class="navbar navbar-light bg-light">
    <div class="container">
      <a class="btn btn-primary" href={% url 'logout' %}>Déconnexion</a>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex m-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">{{ recipe.category }}</span>
              <span class="section-heading-lower">{{ recipe.name }}</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded mb-3">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Les Ingrédients</span>
            </h2>
          </div>
        </div>
        {% if ingredients_list %}
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <ul>
                {% for ingredient in ingredients_list %}
                  <li>
                    <p>{{ ingredient.name }} : {{ ingredient.quantity }}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% else %}
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0">Cette recette n'a pas d'ingrédients</p></div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded mb-3">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Les Etapes</span>
            </h2>
          </div>
        </div>
        {% if steps_list %}
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              {% for step in steps_list %}
                <li>
                  <p>{{ step.instructions }}</p>
                </li>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0">Cette recette n'a pas d'etapes</p></div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}